body {
    background-color: black;
}

#tabla1 {
    position: absolute;
    top: 3px;
    left: 0.5%;
    width: 99%;
    height: 10%;
    background-color: hsl(217, 91%, 60%);
}

#tabla2 {
    position: absolute;
    top: 71px;
    left: 0.5%;
    width: 99%;
    height: 20px;
    background-color: #e93b3b;

}

#tabla3 {
    position: absolute;
    top: 100px;
    left: 0.5%;
    width: 99%;
    height: 485px;
    background-color: rgb(126, 21, 126);
}

#tabla4 {
    position: absolute;
    top: 99%;
    left: 0.5%;
    width: 99%;
    height: 50px;
    background-color: #f97316;
}